
<div class="card-container" style="text-align: center;"style="background-color: whitesmoke;" style="border-color: grey;" >

  <owl-carousel-o [options]="" loop:true>
    <ng-template carouselSlide><img src="http://62.210.247.201:9000/adidas.png"></ng-template>  
    <ng-template carouselSlide><img src="http://62.210.247.201:9000/bhfitness.png"></ng-template>  
    <ng-template carouselSlide><img src="http://62.210.247.201:9000/domyos.png"></ng-template>  
    <ng-template carouselSlide><img src="http://62.210.247.201:9000/kettler.png"></ng-template>  
    <ng-template carouselSlide><img src="http://62.210.247.201:9000/reebok.png"></ng-template> 
    <ng-template carouselSlide><img src="http://62.210.247.201:9000/tunturi.png"></ng-template>  
    <ng-template carouselSlide><img src="http://62.210.247.201:9000/zycle.png"></ng-template>
    <ng-template carouselSlide><img src="http://62.210.247.201:9000/BKOOL.png"></ng-template>  
    <ng-template carouselSlide><img src="http://62.210.247.201:9000/BTWIN.png"></ng-template>  
    <ng-template carouselSlide><img src="http://62.210.247.201:9000/fitshow.png"></ng-template> 
    <ng-template carouselSlide><img src="http://62.210.247.201:9000/Tacx.png"></ng-template>  
    <ng-template carouselSlide><img src="http://62.210.247.201:9000/klarfit.png"></ng-template>  
    <ng-template carouselSlide><img src="http://62.210.247.201:9000/Hammer.png"></ng-template>  
  </owl-carousel-o>

</div>


